#basement_shortcodes_panel_overlay
	background rgba(0, 0, 0, 0.7)
	bottom 0px
	cursor pointer
	display none 
	left 0px
	position fixed
	overflow-y scroll
	right 0px
	top 0px
	z-index 100050

#basement_shortcodes_panel
	margin 0 auto 20px
	max-width: 1000px
	.wrap
		background #fff
		box-shadow 0px 1px 1px rgba(0, 0, 0, 0.04)
		margin 0
	.basement_settings_panel_menu
		width 160px
	.basement_settings_panel_sections
		border-left-width 160px

.basement_shortcodes_panel_wrapper
	padding 20px

.basement_shortcode_panel_button
	border-left: 4px solid transparent
	color #222
	margin-bottom 10px 
	padding-left 10px 

.basement_shortcode_panel_button_description
	font-style italic
	font-size 12px
	color #777

.basement_shortcode_panel_buttonhover
	text-decoration underline 

.basement_shortcode_panel_button_title
	font-weight bold

.basement_shortcode_panel_shortcode_wrapper
	display none
	label 
		display block 
		font-weight bold 
		margin-bottom 5px 
	.param
		clear both
		width 100%

.basement_shortcode_panel_shortcode_header 
	clear both
	font-size 20px 
	font-weight bold 
	margin-bottom 15px 
	&before 
		margin-right 5px 
	.basement_shortcodes_back_button
		vertical-align middle
		margin-top -4px
		margin-right 10px
		&:active
			vertical-align middle
		
.basement_shortcode_builder_button
	clear both
	display block !important
	text-align center
	line-height 1.4em !important
	padding 5px 10px !important
	height auto !importane
	white-space normal !important
	height auto !important 
	

.basement_shortcodes_panel_block
	border-bottom 1px solid #dedede 
	overflow hidden
	margin-bottom 20px
	padding-bottom 20px 
	&:last-child 
		border none 
		padding-bottom 0 

.basement_shortcodes_panel_block_description
	float left
	width 200px
	
.basement_shortcodes_panel_block_description_title
	font-size 16px
	font-weight bold
	margin-bottom 10px 
	
.basement_shortcodes_panel_block_description_text
	font-style italic
	font-size 12px
	color #777
	
.basement_shortcodes_panel_block_inputs
	margin-left 240px 
	
.basement_shortcodes_panel_section_description
	font-style italic
	font-size 13px
	color #777
	margin-bottom 20px 
		
// TODO: move to Basement_Grid styles
.basement_row
	clear both
	margin-bottom 30px 
	
.basement_column
	float left
	margin-bottom 30px 
	
.basement_quarter_column
	width 25%
	
.basement_half_column
	width 50%
	
.basement_three_quarter_column
	width 75%
	
.basement_bootstrap_column_params_wrapper
	select
		width 100%
		
	